# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# Output and local data caches
.pytest_cache/
.ipynb_checkpoints/

Drill_Bit_Optimizer.mp4
consolidated_interaction_tensor.csv